{% extends 'mail.html.twig' %}

{% block body %}

    <p>Reset token confirm link:</p>

    {% set url = url('auth.signup.confirm', {'token' : token}) %}

    <p><a href="{{ url }}">{{ url }}</p>
{% endblock %}